<nav class="navbar navbar-light default-color bg-container">
  <div class="container-fluid header-section">
    <div class="navbar-header">
<!--      <img src="../../assets/images/satr-image.png" alt="">-->
<!--      <a class="navbar-brand nav-title" href="#">stab.univ.kiev.ua</a>-->
    </div>
    <div class="nav navbar-nav info-section">
      <div class="univ-title">Київський нацiональний унiверситет iменi Тараса Шевченка </div>
      <div class="faculty">Факультет кібернетики</div>
      <div class="univ-department">Кафедра системного аналізу та теорії прийняття рішень</div>
    </div>
    <div class="nav pull-right info-container">
      <div class="flag-container">
        <img src="../../assets/images/en.png" alt="">
        <img src="../../assets/images/ua.png" alt="">
        <img src="../../assets/images/ru.png" alt="">
      </div>
      <div class="site-link" href="#">stab.univ.kiev.ua</div>
    </div>
  </div>
<!--  <h1>Кафедра системного аналізу та теорії прийняття рішень</h1>-->
</nav>

