
.main-section {
  display: flex;
  /*width: 100%;*/
  justify-content: space-between;
  padding: 40px;
}

.tutor-image {
  height: 200px;
  width: 150px;
  background: url("../../../assets/images/iev.jpg");
  background-size: cover;
}

.tutor-information {
  width: 100%;
}

.tutor-description {
  display: block;
}

.tutor-details {
  margin: 20px;
}

.about-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myself {
  display: flex;
  justify-content: space-around;
}

.myself-description {
  display: flex;
  justify-content: space-around;
}

.credentials,
.credentials-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.credentials {
  width: 100%;
}

.desc-row {
  display: flex;
  justify-content: space-between;
}

.tutor-description {
  text-indent: 30px;
}

.contact-info {
  font-weight: 600;
}
