<div class="container footer"
     fxLayout="row wrap"
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="60">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="2px">
        <h4 class="useful-links-header">Корисні посилання</h4>
        <mat-list>
          <mat-list-item><a href="http://www.univ.kiev.ua/" mat-button>КНУ імені Тараса Шевченка</a></mat-list-item>
          <mat-list-item><a href="http://satr.unicyb.kiev.ua/" mat-button>Кафедра САТР ф-ту кiбернетики</a></mat-list-item>
          <mat-list-item><a href="http://csc.knu.ua/en/" mat-button>Факультет кібернетики</a></mat-list-item>
          <mat-list-item><a href="https://www.mathway.com/" mat-button>Математичний помiчник</a></mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="social-btn btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="social-btn btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="social-btn btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="social-btn btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="social-btn btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="social-btn btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <p>© STAB 2020</p>
  </div>
</div>

