<div class="success-container">
  <p class="semester-info">Семестри, предмети та оцінки</p>
  <div class="columns">
    <div class="col-1">
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2010/2011
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2011/2012
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2012/2013
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2010/2011
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2011/2012
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
      <div class="subject-data">
        <div class="semester-name">
          1 семестр 2012/2013
        </div>
        <div class="modules">
          <span>1 модуль</span>
          <span>2 модуль</span>
          <span>3 модуль (залiк)</span>
        </div>
      </div>
    </div>
  </div>
</div>
